body{
    background-color:#0e2538;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.tabela{
    margin-top:10px;
}
h1{
    text-align: center;
}
.a{
    text-align: center;
    padding-right: 30px;
}
